[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
requests = "*"
ofsc = "*"
pyjwt = "*"
crypto = "*"
cryptography = "*"
pandas = "*"
openpyxl = "*"
pylint = "*"
flatten-dict = "*"

[requires]
python_version = "3.8"
